<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Calculator</h1>
                    </div>
                    <div class="card-body">
                        <form action="calculate" method="post">
                            <div class="mb-3">
                                <label for="number1" class="form-label">First number</label>
                                <input type="number" class="form-control" id="number1" name="number1" placeholder="Enter first number">
                            </div>
                            <div class="mb-3">
                                <label for="number2" class="form-label">Second number</label>
                                <input type="number" class="form-control" id="number2" name="number2" placeholder="Enter second number">
                            </div>
                            <div class="mb-3">
                                <label for="operation" class="form-label">Operation</label>
                                <select class="form-select" id="operation" name="operation">
                                    <option value="add">Add</option>
                                    <option value="subtract">Subtract</option>
                                    <option value="multiply">Multiply</option>
                                    <option value="divide">Divide</option>
                                </select>
                            </div>
                            <div class="text-center"> <!-- Wyśrodkuj przycisk -->
                                <button type="submit" class="btn btn-primary">Calculate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Operation: {{ operation }} </h2>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">The result is: {{ result }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
